  a:hover{
    font-style: italic;
  }
    a{
    color: white;
  }
  body {
    background-image:url('backgroundforwebsite.png');
    color: white;
    font-size: 2em;
  }
  h1{
    color: black;
    font-size: 3em;
    font-weight: normal;
    text-align: center;

  }
  h2{
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
  }
  ul {
    list-style-type: none;
    font-weight: bold;
  }
  h3{
    font-weight: normal;
    font-size: 1.5em;
    text-align: right;
    font-weight: normal;

  }
  @media (min-width: 1200px) {
    body {
    background-image:url('backgroundforwebsite.png');
    color: white;
    font-size: 1em;
  }
  h1{
    color: black;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
  }
  h2{
    color: white;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
  }
  ul {
    list-style-type: none;
    font-weight: bold;
  }
  h3{
    font-weight: normal;
    font-size: 1em;
    text-align: right;
    font-weight: normal;
  }
  }
